---

---

<style>
  footer {
    margin: 4rem auto;
    color: #aaa;
    min-height: 50px;
    text-align: center;

    .paws {
      height: 100px;
      filter: brightness(3000%);
    }

    p {
      text-align: center;
    }
  }
</style>

<footer class="wrapper">

  <img class="paws" src="images/paws.png" alt="Paws">

  <p>© 2025. Todos los derechos reservados. Y los izquierdos también.</p>

</footer>
