---
import CatBox from "@/components/Home/Catalog/CatBox.astro";
import TextBox from "@/components/Home/Catalog/TextBox.astro";
---

<style>
  .wrapper {
    padding: 1rem;
  }

  .cat-list {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    margin-bottom: 0;
  }

  p {

    color: #888;
    font-size: 1.25rem;

    strong {
      font-size: 1.5rem;
    }
  }
</style>

<section class="wrapper">

  <h2>CATálogo</h2>
  <p><strong>Explora nuestro catálogo de programadores felinos</strong><br>Cada uno de nuestros gatos ha sido cuidadosamente seleccionado por su experiencia en lenguajes de programación, su habilidad para dormir en teclados y su talento innato para detectar errores con una sola mirada de desaprobación.</p>

  <div class="cat-list">
    <CatBox name="Macoco" image="cat-1" />
    <CatBox name="Purrificador" image="cat-2" />
    <TextBox text="¿Cansado de programar solo?" />
    <CatBox name="Zipi y Zape" image="cat-3" />
    <TextBox text="Menos bugs. Más siestas." />
    <CatBox name="Mefistófelix" image="cat-4" />
    <TextBox text="Si no te ignora, no es senior." />
    <CatBox name="Limón" image="cat-5" />
    <CatBox name="Dave «bug slayer»" image="cat-6" />
  </div>

</section>
