---


---

<style>
  p {
    color: #aaa;

    strong {
      color: #fff;
    }

    mark {
      background: #323d71;
      color: #fff;
      padding: 0.25rem 0.5rem;
    }
  }
</style>

<section class="wrapper hero">
  <h2>¿Qué es CaaS?</h2>
  <p><strong>CaaS</strong> (<em>Cat-as-a-Service</em>) es la revolución felina en el desarrollo web. ¡Olvida freelancers y consultoras! Con <strong>CaaS</strong>, contratas gatos programadores expertos en código, especializados en cazar bugs, dormir sobre tu teclado y refactorizar con ronroneos.</p>

  <p>Ideal para startups, empresas tech y personas solitarias con <mark>deadline agresivos</mark>.</p>
</section>
