---

---
<style>
  ul {
    /* list-style-type: circle; */
    list-style-type: none;
    display: flex;
    padding-left: 0;

    li {
      margin-top: 1.5rem;
      color: #aaa;
      border: 1px solid #777;
      padding: 1rem;
      padding-bottom: 2rem;
      text-align: center;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      width: 100%;
      margin: 0.5rem;

      strong {
        color: #fcfcfc;
      }

      span {
        font-size: 1.25rem;
      }
    }

    li::before {
      content: "ᓚᘏᗢ ";
      margin-right: 1rem;
      color: deeppink;
    }
  }
</style>

<section class="wrapper" id="pawso-a-pawso">
  <h2>Pawso a pawso:</h2>

  <ul>
    <li>
      <strong>Selecciona tu gato preferido</strong>
      <span>Elige si prefieres un gato full-stack con experiencia en React o un gato backend introvertido. Tenemos tu gato purrfecto.</span>
    </li>

    <li>
      <strong>Contrata por hora o por siesta</strong>
      <span>Paga por tiempo activo o por ciclos de sueño REM, tú eliges. El gato va a trabajar igual, la idea es que tú descanses.</span>
    </li>

    <li><strong>Recibe código y ronroneos</strong>
      <span>Los gatos teletrabajan desde casa (ir a la oficina no es una opción) y te envían el código vía GitHub o mediante maullidos cifrados.</span>
    </li>

    <li><strong>Deja tu feedback y caricias</strong>
      <span>Al finalizar, deja tu reseña y acaricia al gato, solo si él te lo permite. No nos hacemos responsables de arañazos por commits mal valorados.</span>
    </li>
  </ul>
</section>
